[user]
        email = m.salmanafzal@hotmail.com
        name = m-salman-afzal
	signingkey = /home/salman/.ssh/id_ed25519.pub
[core]
	autocrlf = false
[pull]
	rebase = false
[gpg]
	format = ssh
[commit]
	sshsign = true
[rerere]
	enabled = true
	autoUpdate = true
[column]
	ui=auto
[diff]
	context = 0
[alias]
	uncommit = reset HEAD^
